from dataclasses import dataclass, field


@dataclass
class ${action_camel}:
  """Describe what the user is asking the domain to do, in imperative terms."""
  # """Greet the world."""
  # casual: bool = field(default=False, doc="Skip formalities")
  # name: str = field(default="world", doc="The name to greet")

  @dataclass
  class Result:
    """Define the shape of the value returned by ${action_camel} below."""
    # success: bool = field(doc="Indicates if the command was successful")
