import logging
from pathlib import Path

from {{action_dot_path}}.{{action_method}} import {{action_camel}}

logger = logging.getLogger(__name__)

ACTION_DIR = Path(__file__).parent


def handle({{action_method}}: {{action_camel}}) -> {{action_camel}}.Result:
  logger.debug(f"Handling {{'{'}}{{action_method}}{{'=}'}}")
  logger.error(f"Logic for the {{action_camel}} {{action_method}} must be defined in {ACTION_DIR.as_posix()}/{Path(__file__).name}")
  return {{action_camel}}.Result()
